@{
    ViewBag.Title = "GameShop | Home Page";
}
<section id="header" class="main-header">
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1>Destiny 2: Forsaken</h1>
                                    <h2>Produced by Bungie</h2>
                                    <p>The 3rd expansion arrives September 4, 2018! Don't miss out on the new chapter as heroes seek to avenge the fall of Cayde.</p>
                                    <button type="button" class="btn btn-default get" onclick="addToCart(1)">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img id="d2f" src="~/Content/assets/images/products/destiny2F.png" class="game img-responsive" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1>Call of Duty: Black Ops 4</h1>
                                    <h2>Produced by Activision</h2>
                                    <p>The battle continues with the latest installment of Black Ops 4, which features an updated Zombies playstyle.</p>
                                    <button type="button" class="btn btn-default get" onclick="addToCart(2)">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Content/assets/images/products/cod_bo4.jpg" class="game img-responsive" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1>Anthem</h1>
                                    <h2>Produced by BioWare</h2>
                                    <p>Prepare your Javelins and ready the ammo! This new shooter game set to be released in February 2019!</p>
                                    <button type="button" class="btn btn-default get" onclick="addToCart(3)">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img id="anthem" src="~/Content/assets/images/products/anthem.jpg" class="game img-responsive" />
                                </div>
                            </div>
                        </div>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

@*<div class="nutral"></div>*@

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">

                <div class="featured_games">
                    <!--featured books-->
                    <h2 class="title text-center">Featured Games</h2>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/Content/assets/images/products/doom.jpg" alt="" />
                                    <p>Doom - $12.99</p>
                                </div>

                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>Doom</h2>
                                        <p>$12.99</p>
                                        <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="addToCart(4)">
                                            <i class="fa fa-shopping-cart"></i>
                                            Add to cart
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/Content/assets/images/products/noimage.jpg" alt="" />
                                    <p>Destiny 2 - $24.99</p>
                                </div>

                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>Destiny 2</h2>
                                        <p>$24.99</p>
                                        <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="addToCart(5)">
                                            <i class="fa fa-shopping-cart"></i>
                                            Add to cart
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/Content/assets/images/products/madden.jpg" alt="" />
                                    <p>Madden 19 - $59.99</p>
                                </div>

                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>Madden 19</h2>
                                        <p>$59.99</p>
                                        <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="addToCart(11)">
                                            <i class="fa fa-shopping-cart"></i>
                                            Add to cart
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!--featured books-->
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 padding-right">
                <h2 class="title text-center">Additional Games</h2>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/assets/images/products/fifa.jpg" alt="" />
                                <p>FIFA 19 - $59.99</p>
                            </div>

                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>FIFA 19</h2>
                                    <p>$59.99</p>
                                    <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="addToCart(6)">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/assets/images/products/fortnite.jpg" alt="" />
                                <p>Fortnite - $34.99</p>
                            </div>

                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>Fortnite</h2>
                                    <p>$34.99</p>
                                    <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="addToCart(7)">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/assets/images/products/GoW.jpg" alt="" />
                                <p>God of War - $59.99</p>
                            </div>

                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>God of War</h2>
                                    <p>$59.99</p>
                                    <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="addToCart(8)">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/assets/images/products/inj2.png" alt="" />
                                <p>Injustice 2: Legendary Edition - $34.99</p>
                            </div>

                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>Injustice 2: Legendary Edition</h2>
                                    <p>$34.99</p>
                                    <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="addToCart(9)">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/assets/images/products/kingdom_hearts_3.jpg" alt="" />
                                <p>Kingdom Hearts 3 - $59.99</p>
                            </div>

                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>Kingdom Hearts 3</h2>
                                    <p>$59.99</p>
                                    <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="addToCart(10)">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/assets/images/products/monsterhw.jpg" alt="" />
                                <p>Monster Hunter: World - $49.99</p>
                            </div>

                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>Monster Hunter: World</h2>
                                    <p>$49.99</p>
                                    <a href="javascript:void(0)" class="btn btn-default add-to-cart" onclick="addToCart(11)">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
